/**
 * Variable declarations
**/

:root {
    --main-background-color: #20272d;
    --main-text-color: #fff;
    --main-accent-color: #00D1B1;
    --title-font: "Didot";
}

* {
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    font-weight: 200;
    box-sizing: border-box !important;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--main-accent-color);
}

html, body {
    margin: 0;
    padding: 0;
}

.site-title, .site-title h1 {
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    text-align: center;
}

.site-title > .subtitle {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: -50px;
}

h3.subtitle-entry {
    margin: 10px;
}

.site-title > h1 {
    font-size: 5rem;
}

.main-page-section {
    position: relative;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    height: 100vh;
    width: 100vw;
}

.main-page-split {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-split-column {
    width: 50%;
    height: 100%;;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    display: block;
}

.page-title {
    height: 200px;
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.page-title h1 {
    font-family: var(--title-font);
    text-transform: uppercase;
}

.main-page-container {
    width: auto;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 50px 50px;
    overflow-y: scroll;
}

#about-container {
    height: 100vh;
}

.main-page-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.face {
    height: 500px;
    width: auto;
}

.content {
    display: inline-block;
    padding: 20px;
}

.column-title {
    text-transform: uppercase;
    font-family: var(--title-font);
    letter-spacing: 2px;
}

.blurb {
    font-size: 20px;
    letter-spacing: 1px;
}

.experience-grid {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.tile:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.tile-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 10px;
}

img.exp-logo {
    width: 100px;
    height: auto;
}

.exp-detail {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.detail-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.detail-item:hover {
    color: var(--main-accent-color);
    cursor: pointer;
}

.tooltip_templates {
    display: none;
}

/**
* Media Queries
**/

@media screen and (max-width: 750px) {
    .main-page-container {
        flex-direction: column;
    }

    .main-page-column {
        width: 100%;
        height: 50%;
        text-align: justify;
    }
}

@media screen and (max-width: 400px) {
    #face-container {
        display: none;
    }

    .tile {
        flex-direction: column;
        padding: 20px;
    }

    .tile:last-of-type {
        margin-bottom: 50px;
    }

    .tile-column {
        width: 100%;
        height: 50%;
    }

    .experience-grid {
        grid-template-columns: repeat(auto-fit, 100%);
    }
}